body {
  font-family: 'Montserrat', sans-serif;
    /* font-size: 18px; */
    /* line-height: 34px; */
    background: url("./assets/images/hypnotize/hypnotize.png");
    
  }

 header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 30px 10%;
 }

  .navigation {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    list-style: none;
    margin: 0;
    font-weight: 700;
  }
  
  .navigation a {
    text-decoration: none;
    display: block;
    padding: 1em;
    color: #a3b49e;
  }

  .navigation a:hover {
    color: black;
  }

  p:last-child {
    margin-bottom: 0;
  }
  
  .logo {
    width: 130px;
    height: 130px;
    border-radius: 20px;
    padding: 10px;
    /* justify-content: flex-start; */
  }

  .container {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: center;
    padding: 30px 10%;
  }
  
  h1 {
    padding-bottom: 20px;
    font-size: 40px;
    line-height: 49px;
    border-bottom: 3px solid #dddddd;
  }

  h3{
    padding-bottom: 20px;
    line-height: 22px;
    border-bottom: 2px solid #eeeeee;
    font-family: 'Montserrat', sans-serif;
    color: #a3b49e;
  }

  .flipCard {
  background-color: transparent;
  width: 300px;
  height: 200px;
  border: 1px solid #f1f1f1;
  perspective: 1000px;
  }

  .flipCardInner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }

  .flipCard:hover, .flipCardBack {
   transform: rotateY(180deg)
  }

  .flipCardFront, .flipCardBack {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }

.flipCardFront {
  background-color: #bbb;
  color: black;
}

.flipCardBack {
  background-color: #a3b49e;
  color: white;
  transform: rotateY(180deg);
}
  /* nav a {
    display: inline-block;
    padding-left: 15px;
    line-height: 18px;
    color: #999;
    text-decoration: none;
    border-left: 1px solid #efefef;
  } */
  
  nav a:first-child {
    border-left: 0 none;
  }
  
  footer {
    padding: 30px 0;
    clear: both;
    font-size: 12px;
    color: #cccccc;
    text-align: center;
    background: whitesmoke;
    border-top: 8px solid #a3b49e;
    height: 50px;
  }
  
  .main-section {
    display: flex;
    flex-flow: row wrap;
    align-content: center;
  } 

  .work {
    position: relative;
    float: left;
    width: 274px;
    margin: 20px 0 25px;
    overflow: auto;
    margin-right: 50px;
  }
  
  .work img {
    max-width: 100%;
    opacity: 0.8;
  }
  
  .work h3 {
    position: absolute;
    bottom: 20px;
    width: 100%;
    padding: 15px;
    margin-bottom: 0;
    font-weight: 300;
    line-height: 30px;
    color: #ffffff;
    text-align: center;
    background: #a3b49e;
    border-bottom: 0;
  }
  
  .auth-image {
    width: 300px;
    height: auto;
    margin-top: 10px;
    margin-left: 60%;

  }
  
  #contact-form ul {
    margin-bottom: 10px;
  }
  
  #contact-form li {
    margin-bottom: 10px;
  }
  
  label, 
  input[type=text],
  input[type=email],
  textarea {
    display: block;
    width: 100%;
  }
  
  input[type=text],
  input[type=email],
  textarea {
    height: 35px;
    padding: 0 10px;
    font-size: 14px;
    border: 1px solid #dddddd;
  }

  .box{
    padding:0px;
  }
  /* @media all and (min-width: 800px) {
    .main    { flex: 3 0px; }
    .aside-1 { order: 1; } 
    .main    { order: 2; }
    .aside-2 { order: 3; }
    .footer  { order: 4; }
  } */