body {
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-direction: column;


}

header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: black;

}

.introduction {
  /* min-height: 10vh; */
  background-image: url("./assets/images/hypnotize/marble.jpg");
  background-size: cover;
}

#logo {
  height: 50rem;
}

.title {
  padding: 30px 15% 10px;
}

.navigation {
  display: flex;
  list-style: none;
  margin: 0;
  font-weight: 700;
}

.navigation a {
  text-decoration: none;
  display: block;
  padding: 1em;
  color: #a3b49e;
}

.navigation a:hover {
  color: black;
}

p:last-child {
  margin-bottom: 0;
}

.container-fluid {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  padding: 30px 10%;
  background-color: #545454;
  color: #ffbbbb;
  text-align: center;
}

h1 {
  margin-bottom: 25px;
  font-size: 40px;
  line-height: 49px;
  border-bottom: 3px solid #dddddd;
  font-family: 'Righteous', cursive;
  text-align: center;
}

h3 {
  padding-bottom: 20px;
  line-height: 22px;
  border-bottom: 2px solid #eeeeee;
  font-family: 'Montserrat', sans-serif;
  color: #a3b49e;
}

.cardImg {
  width: 100%;
  height: 100%;
}

.jumbotron {
  background-color: transparent;
  border-bottom: none;
  margin: 10%;
  font-family: 'Righteous', cursive;
}

.flipCard {
  background-color: transparent;
  width: 300px;
  height: 200px;
  perspective: 1000px;
  margin-left: 10%;
  margin-bottom: 10%;
}

.flipCardInner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transform-style: preserve-3d;
  transition: transform 0.8s;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.flipCardInner:hover {
  transform: rotateY(180deg);
}

.flipCardFront,
.flipCardBack {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flipCardFront {
  color: black;
}

.flipCardBack {
  background-image: url("./assets/images/hypnotize/hypnotize.png");
  color: black;
  transform: rotateY(180deg);
}

.projectContainer {
  display: flex;
  flex-direction: row;
  justify-content: left;
  flex-wrap: wrap;
  justify-content: space-around;
}

.footerContainer {
  display: flex;
  justify-content: start;
}

#AboutMe {
  padding-top: 20px;
  display: flex;
  flex-direction: row;
  /* padding-left: 60px; */
}

.auth-image {
  width: 400px;
  height: auto;
  padding-left: 10%;
  margin-left: 100px;
}

#gitHubIcon,
#envelopIcon,
#linkedinIcon {
  font-size: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.contactInfo {
  display: flex;
  flex-direction: row;
}

.contactInfo a {
  margin-left: 10px;
}

.box {
  padding: 0px;
}

@media (max-width: 600px) {
  .homePage {
    position: relative;
    animation-name: mymove;
    animation-duration: 5s;
    animation-fill-mode: forwards;
  }

  .auth-image {
    margin-left: 50px;
    margin-bottom: 20px;
    margin-top: 20px;
  }

  .navigation {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0px;
    padding-left: 5px;
    font-weight: 700;
  }

}